Pillow
python-telegram-bot
opencv-python-headless
moviepy
ffmpeg-python
aiomysql
stripe
openai
langchain
langchain_openai
langchain_community
python-dotenv
beautifulsoup4
langdetect
nltk
mysql-connector-python
